.searchInput{
    font-size: 1.3rem;
    padding: .3rem .5rem;
    border-radius: 5px;
    border: 1px solid #524b5a;
    outline: none;
    background-color: #5d5466;
}
.searchInput:focus{
    box-shadow: 0 0 0 100000px rgba(0,0,0,.3);
    z-index: 10000;
}