.searchForm{
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchInput{
    font-size: 1rem;
    padding: .3rem .5rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #5a3736;
    outline: none;
    background-color: #d6afaf;
}
.searchInput:focus{
    box-shadow: 0 0 0 100000px rgba(0,0,0,.3);
}

.searchBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    padding: .3rem;
    border: 1px solid #5a3736;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #d6afaf;
}
.searchBtn:hover{
    cursor: pointer;
    background-color: #5a3736;
}
